.footer {
  width: 100%;
  height: 100px;
  background-color: #5c3a1b;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer .copyright {
  align-items: center;
  margin-top: 30px;
  color: white;
  font-size: 20px;
}