.hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black), url(../images/hero.jpg);
  background-color: black;
  height: 700px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .callout {
  font-size: 30px;
  margin-right: 200px;
  font-style: italic;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}