.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  .logo {
    background-image: url(../images/logo.png);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .copyright {
    align-items: center;
    margin-top: 30px;
    color: rgb(40, 46, 75);
    font-size: 20px;
  }
  .social {
    display: flex;
    margin-top: 50px;

    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    .twitter {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
