.missionDivider {
  height: 2px;
  width: 100%;
}
.mission {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 50px;
  .missionTitle {
    h4 {
      margin-left: 20px;
      color: white;
      font-size: 25px;
      font-style: italic;
      text-shadow: 2px 2px 5px rgb(139, 156, 240);
    }
    .missionLine {
      width: 275px;
      height: 35px;
      border-radius: 40px;
      border-bottom: 3px solid rgb(214, 162, 50);
      margin-top: -30px;
    }
    .missionContent {
      display: flex;
      .missionimg {
        margin-top: 50px;
        background-image: url(../images/rocket.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        width: 350px;
        border-radius: 5px;
      }
      .missionStatement {
        margin-top: 50px;
        margin-left: 100px;
        width: 600px;
        p {
          color: white;
        }
        h3 {
          font-style: italic;
          color: white;
        }
      }
    }
  }
}
