.topRated {
  background-image: linear-gradient(
      to left,
      rgba(40, 46, 75, 0.95),
      rgba(139, 156, 240, 0.65)
    ),
    url(../images/productsBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(40, 46, 75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .topRatedTitle {
    height: 100px;
    margin-top: -5px;

    h2 {
      font-size: 40px;
      margin-bottom: -20px;
      color: white;
      font-style: italic;
      text-shadow: 2px 2px 5px black;
    }

    .line {
      height: 30px;
      width: 330px;
      border-radius: 40px;
      text-align: center;
      border-bottom: 3px solid rgb(214, 162, 50);
    }
  }

  .voyages {
    display: flex;
    .ship1 {
      .shipTitle {
        color: white;
        h3 {
          text-shadow: 2px 2px 5px black;
        }
      }
      .shipimg1 {
        cursor: pointer;
        background-image: url(../images/moon2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 300px;
        width: 375px;
        left: 0px;

        .shipDetails {
          display: none;

          border-radius: 5px;
          width: 175px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.65);
          h4 {
            padding: 5px;
            color: white;
          }
        }
      }
    }
    .ship2 {
      margin-left: 10px;
      margin-right: 10px;
      justify-content: center;
      .shipTitle {
        color: white;
        h3 {
          text-shadow: 2px 2px 5px black;
        }
      }
      .shipimg2 {
        cursor: pointer;
        background-image: url(../images/marsastro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 300px;
        width: 375px;
        left: 0px;
        .shipDetails {
          display: none;
          border-radius: 5px;
          width: 175px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.65);
          h4 {
            padding: 5px;
            color: white;
          }
        }
      }
    }
    .ship3 {
      .shipTitle {
        color: white;
        h3 {
          text-shadow: 2px 2px 5px black;
        }
      }
      .shipimg3 {
        cursor: pointer;
        background-image: url(../images/andro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 300px;
        width: 375px;
        left: 0px;
        .shipDetails {
          display: none;
          border-radius: 5px;
          width: 175px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.65);
          h5 {
            padding: 5px;
            color: white;
          }
        }
      }
    }
  }
}

.voyages .ship1 .shipimg1:hover .shipDetails {
  display: block;
}
.voyages .ship2 .shipimg2:hover .shipDetails {
  display: block;
}
.voyages .ship3 .shipimg3:hover .shipDetails {
  display: block;
}
